
<!DOCTYPE html>
<html lang="en">
<head>
   <%- include("./partials/head")%>
</head>
<body>
          <%- include('./partials/nav') %>
    <h1>signup</h1>
    <form action="/user/signup" method="POST">
            <label for="name">Full Name</label>
            <input type="text" name="fullName">
             <label for="email">email</label>
            <input type="text" name="email">
             <label for="password">password</label>
            <input type="text" name="password">      
    <label for="inputState" class="form-label">role</label>
    <select name="role">
      <option selected>USER</option>
      <option>ADMIN</option>
    </select>
            <button type="submit">submit</button>
    </form>
     <%- include('./partials/scripts') %>
</body>
</html>